################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OK/CSharpBasic/obj
/OK/.vs
/OK/CSharpBasic/bin

/OK/TestProject1/obj
/OK/TestProject1/bin/Debug/net8.0
