################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OK/CSharpBasic/obj
/OK/.vs
